In [ ]:
import pandas as pd
import numpy as np
import os
from google.cloud import bigquery
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/content/drive/MyDrive/ICT 8 Hands-On/private-key.json"

In [ ]:
bqclient = bigquery.Client()

# Download query results.
query_string = """
SELECT
  a.country_name,
  a.year,
  b.series_code,
  a.indicator_name,
  a.value
FROM
  bitlabs-dab.worldbank_wdi.data AS a
INNER JOIN
  bitlabs-dab.worldbank_wdi.series_description AS b
ON
  a.indicator_code = b.series_code
WHERE
  a.country_name = 'Indonesia'
  AND b.series_code LIKE '%SN%'
  AND b.long_definition LIKE '%food%'
  AND b.indicator_name LIKE '%undernourishment%'
ORDER BY
  a.year asc
;
"""

df = (
    bqclient.query(query_string)
    .result()
    .to_dataframe(
        # Optionally, explicitly request to use the BigQuery Storage API. As of
        # google-cloud-bigquery version 1.26.0 and above, the BigQuery Storage
        # API is used by default.
    )
)

In [ ]:
df

,country_name,year,series_code,indicator_name,value
0,Indonesia,2001,SN.ITK.DEFC.ZS,Prevalence of undernourishment (% of population),19.2
1,Indonesia,2002,SN.ITK.DEFC.ZS,Prevalence of undernourishment (% of population),19.1
2,Indonesia,2003,SN.ITK.DEFC.ZS,Prevalence of undernourishment (% of population),18.9
3,Indonesia,2004,SN.ITK.DEFC.ZS,Prevalence of undernourishment (% of population),19.1
4,Indonesia,2005,SN.ITK.DEFC.ZS,Prevalence of undernourishment (% of population),19.2
5,Indonesia,2006,SN.ITK.DEFC.ZS,Prevalence of undernourishment (% of population),19.0
6,Indonesia,2007,SN.ITK.DEFC.ZS,Prevalence of undernourishment (% of population),18.5
7,Indonesia,2008,SN.ITK.DEFC.ZS,Prevalence of undernourishment (% of population),17.4
8,Indonesia,2009,SN.ITK.DEFC.ZS,Prevalence of undernourishment (% of population),15.5
9,Indonesia,2010,SN.ITK.DEFC.ZS,Prevalence of undernourishment (% of population),13.0
10,Indonesia,2011,SN.ITK.DEFC.ZS,Prevalence of undernourishment (% of population),10.7
11,Indonesia,2012,SN.ITK.DEFC.ZS,Prevalence of undernourishment (% of population),9.4
12,Indonesia,2013,SN.ITK.DEFC.ZS,Prevalence of undernourishment (% of population),8.3
13,Indonesia,2014,SN.ITK.DEFC.ZS,Prevalence of undernourishment (% of population),7.7
14,Indonesia,2015,SN.ITK.DEFC.ZS,Prevalence of undernourishment (% of population),7.0
15,Indonesia,2016,SN.ITK.DEFC.ZS,Prevalence of undernourishment (% of population),6.8
16,Indonesia,2017,SN.ITK.DEFC.ZS,Prevalence of undernourishment (% of population),6.4
17,Indonesia,2018,SN.ITK.DEFC.ZS,Prevalence of undernourishment (% of population),6.4
18,Indonesia,2019,SN.ITK.DEFC.ZS,Prevalence of undernourishment (% of population),6.5

In [ ]:
df_new = df[['year', 'value']]
df_new

    year  value
0   2001   19.2
1   2002   19.1
2   2003   18.9
3   2004   19.1
4   2005   19.2
5   2006   19.0
6   2007   18.5
7   2008   17.4
8   2009   15.5
9   2010   13.0
10  2011   10.7
11  2012    9.4
12  2013    8.3
13  2014    7.7
14  2015    7.0
15  2016    6.8
16  2017    6.4
17  2018    6.4
18  2019    6.5

In [ ]:
df_new.to_csv('df_undernourishment.csv', encoding='utf-8', index=False)

In [ ]:
query_string = """
SELECT
  a.country_name,
  a.year,
  b.series_code,
  a.indicator_name,
  a.value
FROM
  bitlabs-dab.worldbank_wdi.data AS a
INNER JOIN
  bitlabs-dab.worldbank_wdi.series_description AS b
ON
  a.indicator_code = b.series_code
WHERE
  a.country_name = 'Indonesia'
  AND b.series_code LIKE '%SVFI%'
  AND b.long_definition LIKE '%food%'
  AND b.indicator_name LIKE '%severe%'
ORDER BY
  a.year asc
;
"""

df2 = (
    bqclient.query(query_string)
    .result()
    .to_dataframe(
        # Optionally, explicitly request to use the BigQuery Storage API. As of
        # google-cloud-bigquery version 1.26.0 and above, the BigQuery Storage
        # API is used by default.
    )
)

In [ ]:
df2

,country_name,year,series_code,indicator_name,value
0,Indonesia,2015,SN.ITK.SVFI.ZS,Prevalence of severe food insecurity in the po...,0.7
1,Indonesia,2016,SN.ITK.SVFI.ZS,Prevalence of severe food insecurity in the po...,0.9
2,Indonesia,2017,SN.ITK.SVFI.ZS,Prevalence of severe food insecurity in the po...,0.9
3,Indonesia,2018,SN.ITK.SVFI.ZS,Prevalence of severe food insecurity in the po...,0.8
4,Indonesia,2019,SN.ITK.SVFI.ZS,Prevalence of severe food insecurity in the po...,0.7

In [ ]:
df2_new = df2[['year','value']]
df2_new

   year  value
0  2015    0.7
1  2016    0.9
2  2017    0.9
3  2018    0.8
4  2019    0.7

In [ ]:
df2_new.to_csv('df_severefood.csv', encoding='utf-8', index=False)

##Concat

In [ ]:
df_new = df_new.drop(labels=range(0, 14), axis=0)
df_new = df_new.reset_index(drop=True)
df_new = df_new.rename(columns={'value': 'undernourishment'})
df_new

   year  undernourishment
0  2015               7.0
1  2016               6.8
2  2017               6.4
3  2018               6.4
4  2019               6.5

In [ ]:
df2_new = df2_new.rename(columns={'value': 'severefood'})
df2_new

   year  severefood
0  2015         0.7
1  2016         0.9
2  2017         0.9
3  2018         0.8
4  2019         0.7

In [ ]:
df_concat = pd.concat([df_new, df2_new], axis=1)
df_concat.columns = ['year', 'undernourishment', 'year2', 'severefood']
df_concat.drop(df_concat.columns[2], axis=1, inplace=True)
df_concat

   year  undernourishment  severefood
0  2015               7.0         0.7
1  2016               6.8         0.9
2  2017               6.4         0.9
3  2018               6.4         0.8
4  2019               6.5         0.7

In [ ]:
df_concat.to_csv('df_gabungan.csv', encoding='utf-8', index=False)